<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
    </head>
    <body>
        <div class="title" style="width:100%;text-align:center;">
            <h1>Panama GitHub Bot Report</h1>
        </div>
        <div class="sum-up">
            <div style="padding:3px;">Repositories count: <span style="font-weight:bold">{{reposCount}}</span></div>
            <div style="padding:3px;">Checked branches: <span style="font-weight:bold">{{branchesCount}}</span> </div>
            <div style="padding:3px;">Updated branches: <span style="font-weight:bold">{{totallyUpdated}}</span></div>
            <div style="padding:3px;">Rejected branches: <span style="font-weight:bold">{{withErrors}}</span></div>
        </div>
        {{#each repos}}
            {{#if this.toRender}}
            <div class="repo">
                <h2>{{this.name}}</h2>
                    <div class="repo-branches">
                        <div class="success">
                            {{#each this.updatedBranches}}
                            <div style="background-color:#90EE90;padding: 3px;margin: 3px;padding-left: 1em;text-indent: -.7em;">
                                <span>{{this}}</span>
                            </div>
                            {{/each}}
                        </div>
                        <div class="conflict">
                            {{#each this.rejectedBranches}}
                            <div style="background-color:#FF6347;padding: 3px;margin: 3px;padding-left: 1em;text-indent: -.7em;">
                                <span>{{this.name}}</span>
                                <span style="float:right">{{this.reason}}</span>
                                </div>
                            {{/each}}
                            {{#if this.rejectedBranches.length}}
                                <h3>Latest unmerged commit:</h3>
                                <div style="margin:5px;" class="repo-commit">
                                    <img style="float:left;" src="{{this.lastCommit.author.avatar_url}}" width="40" height="40">
                                    <span style="display:block;margin:3px;font-weight:600;">[{{this.lastCommit.commit.author.name}}] {{this.lastCommit.commit.message}}</span>
                                    <span style="display:block;">SHA: <a href="{{this.lastCommit.html_url}}">{{this.lastCommit.sha}}</a></span>
                                </div>
                            {{/if}}
                        </div>
                    </div>
                    {{#if this.commits}}
                        <h3>Commits since last two hours:</h3>
                        <div class="repo-commits">
                        {{#each this.commits}}
                            <div style="margin:5px;" class="repo-commit">
                                <img style="float:left;" src="{{this.author.avatar_url}}" width="40" height="40">
                                <span style="display:block;margin:3px;font-weight:600;">[{{this.commit.author.name}}] {{this.commit.message}}</span>
                                <span style="display:block;">SHA: <a href="{{this.html_url}}">{{this.sha}}</a></span>
                            </div>
                        {{/each}}
                        </div>
                    {{/if}}
                </div>
            {{/if}}
        {{/each}}
    </body>
</html>
